@import url("https://fonts.googleapis.com/css2?family=Asap&family=JetBrains+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap&family=JetBrains+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap&family=JetBrains+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap&family=JetBrains+Mono&display=swap");
* {
  box-sizing: border-box;
  margin: 0; }

html {
  scroll-behavior: smooth;
  background-color: #efefef; }

body {
  background-color: #efefef; }

#root {
  overflow: hidden;
  width: 100%; }

.app {
  width: 100%;
  overflow: hidden; }

body {
  font-family: 'Barlow Semi Condensed', -apple-system, Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  background: #efefef;
  font-weight: 400; }

h1 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 8em;
  font-weight: 400;
  line-height: 0.9em; }

h2 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 4.5em;
  font-weight: 400; }

h3 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 2.5em;
  font-weight: 400; }

p {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.5em;
  font-weight: 400; }

a {
  text-decoration: none;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 3em;
  font-weight: 400;
  color: #fff; }

.accent {
  color: #67BAB6; }

.active {
  color: #67BAB6; }
