@import '../abstracts/all.scss';

.assorted-projects-container {
  & .assorted-projects-grid {
    max-width: 1080px;
    padding: 0;
    margin: auto auto auto auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: minmax(400px, auto-fit) minmax(400px, auto-fill);
    @media screen and (max-width: $medium) {
      grid-template-columns: auto;
    }
    & h1 {
      font-size: 4.5em;
      padding-top: 50px;
      padding-bottom: 50px;
      color: $text-dark;
      text-align: center;
      margin: auto;
      @media screen and (max-width: $medium) {
        font-size: 2.5em;
      padding-top: 20px;
      padding-bottom: 20px;
      }
    }
    & p {
      padding: 30px;
      font-weight: 300;
      font-size: 27px;
      line-height: 1.3;
      color: $text-dark;
      height: auto;
      margin: auto;
      @media screen and (max-width: $medium) {
        font-size: 1.1em;
        padding: 20px 60px;
      }
    }
    & img {
      padding: 50px;
      width: 100%;
      border-radius: 5em;
      height: auto;
      margin: auto;
    }
    & .img1 {
      object-fit: cover;
      width: 100%;
    }
    & .photo-group-1 {
      display: grid;
      & .img3 {
grid-column: 1;
      grid-row: 1;
      transform: translate(-20px, -60px) scale(1.0);
      }
      & .img4 {
      grid-column: 1;
      grid-row: 1;
      transform: translate(70px, 40px) scale(.65);
      }
      
    }
    & .photo-group-2 {
      display: grid;
      & .img5 {
grid-column: 1;
      grid-row: 1;
      transform: translate(-60px, -60px) scale(.80);
      }
      & .img6 {
      grid-column: 1;
      grid-row: 1;
      transform: translate(70px, 50px) scale(.70);
      }
      
    }
  }
}
.last-item {

  @media screen and (max-width: $medium) {
    display: none;
  }
  max-width: 85vw;
  display: grid;
  margin: auto;
  grid-template-columns: auto auto auto;
  padding-bottom: 100px;
  padding-top: 100px;
  & .img4 {
    margin: auto;
    border-radius: 5em;
    width: 400px;
  }
  & .img5 {
    width: 400px;
    border-radius: 5em;
    margin: auto;
    transform: translate(0px, 100px);
  }
  & .img6 {
    width: 400px;
    border-radius: 5em;
    margin: auto;
    transform: translate(0px, 0px);
  }
}
