@import '../abstracts/all.scss';

.project-card-container {
  overflow: hidden;
  max-width: 1080px;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  @media screen and (max-width: $medium) {
    flex-direction: column;
  }
  & .left-project-card {
    margin: auto;
    width: 100%;
    & p {
      color: $text-dark;
      font-size: 1.5em;
      font-weight: 300;
      padding: 70px 50px 0px 50px;
      align-self: center;
      max-width: 700px;
      @media screen and (max-width: $medium) {
        font-size: 1.2em;
        padding: 10%;
        text-align: left;
      }
    }
  }
  & .right-project-card-image-group {
    margin: auto;
    padding: 50px;
    width: 100%;

    & p {
      color: $text-dark;
      font-size: 1.5em;
      font-weight: 300;
      padding: 70px 50px 0px 50px;
      align-self: center;
      max-width: 700px;
      @media screen and (max-width: $medium) {
        font-size: 1.2em;
        padding: 10%;
        text-align: left;
      }
    }
  }
  & .right-project-card {
    margin: auto;
    width: 100%;
    & p {
      color: $text-dark;
      font-size: 1.5em;
      font-weight: 300;
      padding: 70px 50px 0px 50px;
      align-self: center;
      max-width: 700px;
      @media screen and (max-width: $medium) {
        font-size: 1.2em;
        padding: 10%;
        text-align: left;
      }
    }
  }
  & h2 {
    color: #32867b;
    font-size: 2.4em;
    font-weight: 300;
    padding: 40px 20px;
    align-self: center;
    // TODO: text-align: center;
    text-align: left;
    max-width: 700px;
    @media screen and (max-width: $medium) {
      font-size: 1.5em;
      text-align: center;
      padding: 0px 20px 20px 20px;
    }
  }

  & .fancy-rectangle {
    margin: auto;
    width: 20px;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    background: $accent-1;
    z-index: 2;
    @media screen and (max-width: $medium) {
      display: none;
    }
  }
  .project-logo {
    max-width: 400px;
    margin: auto;
    border-radius: 20px;
    align-self: center;
    justify-self: center;
    @media screen and (max-width: $medium) {
      width: 100%;
    }
  }

  .project-image-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    & .project-image {
      margin: auto;
      max-width: 400px;
      border-radius: 20px;
      align-self: center;
      justify-self: center;
      @media screen and (max-width: $medium) {
        width: 90%;
        margin: 0 5%;
        border-radius: 20px;
      }
    }
  }

  & .button-container {
    width: 100%;
    height: 100%;
    justify-content: center;
    & a {
      left: 50%;
      transform: translateX(-50%);
      margin-top: 100px;
      font-size: 2.5em;
      padding: 10px 20px;
      background-color: $accent-1;
      border-radius: 20px;
      color: $bg-color;
      @media screen and (max-width: $medium) {
        margin-top: 0;
        font-size: 2em;
        padding: 5 10px;
      }
    }
  }
}
