@import url('https://fonts.googleapis.com/css2?family=Asap&family=JetBrains+Mono&display=swap');

$accent-1: #2db67e;
$text-dark: #105157;
$text-light: #fff;
$bg-color: #efefef;

// Spacing
$spacing-md: 16px;
$spacing-lg: 32px;

$border-radius: 12px;
